body {
  margin: 0;
}



html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  scroll-behavior:smooth;
  font-size:15px;
  padding:0;
}


/* Global */


ul{
  padding: 0;
  margin: 0;
}

/* END OF Global; */

header {
  min-height: 120px;
  background-color: rgb(0, 125, 255);
  text-transform: uppercase;
  border-bottom: rgb(0, 0, 0) solid 1px;
}

header h1{
  margin:0;
  padding-top: 40px;
  float :left;
  color: #ffffff;

}

header nav{
  float: right;
  padding-top: 50px;
}

header li{
  display: inline;
  list-style : none;
  padding: 0px 20px 0px 20px;
}

header a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header .active a{
  color: rgb(255, 115, 0);
  font-weight:bolder;
}

.clear  {
  clear: both;
}

.button{
  background-color: rgb(119, 119, 119);
  padding: 5px 15px;
  border: none;
  font-size: 20px;
font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.button:hover{
  background-color: rgb(142, 119, 147) ;
   color:hotpink;
}

.container{
  width: 80%;
  margin: auto;
}

.content {
   padding: 10px;
   border-radius: 5px;
   color: rgb(88, 88, 88);
   line-height: 1.6em;
}

.content div{
  margin-bottom: 10px;
}


.myForm{
  border: 1px solid hotpink;
  padding: 10px;
}

.myForm label{
  display: block;
}

.myForm input[type="text"], input[type="email"], textarea{
  width: 100%;
}


#left-side {
    border: 1px solid #ccc;
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#right-side {
  float: right;
  background-color: rgb(36, 37, 37);
  color: rgb(212, 212, 212);
  min-height: 200px;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}

.highlight-header{
  background-color: rgba(255, 195, 37, 0.65);
  border-radius: 10px;
  border-bottom: 2px rgba(33, 117, 244, 0.73) solid;
  border-left: 1px rgba(33, 117, 244, 0.73) solid;
}

/* Gallery Stlyes */
.gallery  {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content:  flex-start;
  height: 2500px;
  width: 100%;
  border: 2px solid red;
}

.gallery img {
  display: block;
  max-width: 450px;
  max-height: 300px;
  margin: 20px;
  flex: 0 1 100%;
  transition: all .5s;
}

.gallery img:hover{
transform: scale(1.1);
}


@media (max-width: 768px) {

header h1, header li,header nav, .floating
, #left-side, #right-side{
  float: none;
  text-align: center;
}

header h1{
  padding: 20px 0px 0px 0px;
}

header nav{
  width: 100%;
  padding: 20px 0 0 0;
}

.floating{
  width: 100%;
}

#left-side, #right-side{
  width: 100%;
}

.box-2{
  padding: 20px;
}
